@media (max-width:900px){

.navbar{

flex-direction:column;

height:auto;

padding:20px;

}

.nav-links{

margin-top:20px;

flex-wrap:wrap;

justify-content:center;

}

.hero{

flex-direction:column;

text-align:center;

padding:60px 20px;

}

.hero-content h1{

font-size:40px;

}

.buttons{

justify-content:center;

flex-wrap:wrap;

}

.card{

width:100%;

max-width:380px;

}

.features h2{

font-size:32px;

}

}